body{
   color: white;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSosteCexbakv42kRrnGiKJh_xM9ZxTCizqeaNHA1oz6FLtdDrl");
    text-align: center;
    padding: 25%;
    background-repeat: none;
    background-size: cover;
}